.banner_video {
  position: relative;
  background-color: $primary-color;

  .wr_banner_video {
    min-height: 100vh;
    padding: 50px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    p {
      color: $white;
    }

    .wr_full_video {
      video {
        height: 420px;
        position: relative;
        display: block;
        @media (max-width: $mobile){
          height: 150px;
        }
      }
    }

    .wr_content {
      position: relative;
      z-index: 9;
      text-align: center;
      margin-top: 30px;
    }
  }
}
:root{--animate-duration:1s;--animate-delay:1s;--animate-repeat:1}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.animate__fadeInUp {
  animation-delay: 2200ms;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp
}

