$container: 1140;
$tablet: 991px;
$tablet-small: 767px;
$mobile: 575px;
$mobile-small: 370px;
.container {
    max-width: #{$container + px};
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}