.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

html {
  overflow-x: hidden;
  margin-top: 0 !important; }

body {
  overflow-x: hidden;
  color: #000;
  line-height: 1.3; }

h1 {
  color: #fff;
  font-weight: 600;
  margin-top: 10px; }
  @media (min-width: 767px) {
    h1 {
      font-size: calc(30px + 30 * (100vw  / 1140)); } }
  @media (max-width: 767px) {
    h1 {
      font-size: calc(30px + 51 * ((100vw - 320px) / 1140)); } }
  @media (max-width: 370px) {
    h1 {
      font-size: 30px; } }

p {
  font-weight: 400; }
  @media (min-width: 767px) {
    p {
      font-size: calc(25px + 15 * (100vw  / 1140)); } }
  @media (max-width: 767px) {
    p {
      font-size: calc(25px + 25.5 * ((100vw - 320px) / 1140)); } }
  @media (max-width: 370px) {
    p {
      font-size: 25px; } }

.banner_video {
  position: relative;
  background-color: #000; }
  .banner_video .wr_banner_video {
    min-height: 100vh;
    padding: 50px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    z-index: 1; }
    .banner_video .wr_banner_video p {
      color: #fff; }
    .banner_video .wr_banner_video .wr_full_video video {
      height: 420px;
      position: relative;
      display: block; }
      @media (max-width: 575px) {
        .banner_video .wr_banner_video .wr_full_video video {
          height: 150px; } }
    .banner_video .wr_banner_video .wr_content {
      position: relative;
      z-index: 9;
      text-align: center;
      margin-top: 30px; }

:root {
  --animate-duration:1s;
  --animate-delay:1s;
  --animate-repeat:1; }

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

.animate__fadeInUp {
  animation-delay: 2200ms;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }
